/* Basic str */
*{
    margin: 0;
    padding: 0;
    box-sizing: bordor-box;
}

body {
    background: #9BB1FF;
    diaplay: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: 'Gill Sans','Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

}
.container{
    background: white;
    border-radius: 1rem;
    box-shadow:  0 10px 30px  #6c6714;


}

.screen {
    display: block;
}
.screen-active{
display: block;
}

#start-screen h1{
    color: #ed912e;
    margin-botttom: 20px;
    font-
}
#start-screen  p {
    color: #666666;
}